In [1]:
import pandas as pd

In [2]:
vinho = pd.read_csv('winequality-red.csv')

In [3]:
vinho

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
vinho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

## AnÃ¡lise ExploratÃ³ria

#### Plotar grÃ¡ficos - Seaborn, Plotly, Matplotlib

In [14]:
vinho['quality'].values.unique

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

## Converter a coluna 'quality' em variÃ¡vel categÃ³rica
### A Qualidade do vinho varia de 3 a 8. Se qualidade <= 4 --> Vinho de baixa qualidade, se for >= 5 e <=6 --> qualidade media, se qualidade for >=7 --> vinho de alta qualidade

## PadronizaÃ§Ã£o dos Dados

## CriaÃ§Ã£o de subconjuntos

## Criar 3 modelos de classificaÃ§Ã£o para prever a qualidade do vinho

## GridSearch ou RandomSearch

## RelatÃ³rio de classificaÃ§Ã£o e matriz de confusÃ£o

## Comparar Resultados

## Criar um algorÃ­tmo de regressÃ£o para prever qualquer classe

## Avaliar resultados. Utilizar todas as mÃ©tricas de regressÃ£o que vimos no curso